/**index.wxss**/
.topTab {
    width: 100%;
}
.inputItem {
    width: 100%;
}

.actionWrapper {
    width: 100%;
    position: absolute;
    bottom: 60px;
    padding: 20px;
    box-sizing: border-box;
}